name: Build and test

on:
 push:
  branches: [ main ]
 pull_request:
 workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Build and Test - ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup .NET 10.0
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Unit Test
        run: dotnet test
